{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<br>
<h3>Login to 花好月圆</h3>
    <br>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <hr>
    <h6>Don't Have an Account?</h6>
    <a href="/register">
        <button class="btn btn-primary" type="submit">Register Here</button>
    </a>
    <br>
    <br>
    {% if error is defined %}
    <h6 style="color:red;"><u><b>{{ error }}</u></b></h6></th>
    {% if error_code is defined %}
        <h6 style="color:red;"><b>{{ error_code }}</b></h6></th>
    {% endif %}
{% endif %}
{% endblock %}
